this is the home page dashboard
<hr>

Websites
<hr>
[Stats 1.]<br>
Add stats for websites (No. of new registrations)

<p></p>


eCommerce
<hr>
[Stats 2]<br>
Add stats for sales orders
<p></p>


CRM
<hr>
[Stats 3]<br>
Add stats for new leads
<p></p>

<div style="float:right;display: block;position: relative;">
    <div style="float:right;">
        <button md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>

        <md-menu x-position="before" #menu="mdMenu">
            <button md-menu-item> Refresh </button>
            <button md-menu-item> Settings </button>
            <button md-menu-item> Help </button>
            <button md-menu-item disabled> Sign Out </button>
        </md-menu>

    </div>
</div>