<oe-section class="oe-layout-top-outer"
            [ngClass]="{'fixed':  isViewable(topOuterView) && topOuterView.uiState.isFixed}">
    <oe-partial-view *ngIf="isViewable(topOuterView)" [layoutConfig]="topOuterView">
        <ng-content></ng-content>
    </oe-partial-view>
    <ng-content select="oe-layout-top-outer"></ng-content>
</oe-section>
<oe-section class="oe-layout-left-outer " transparent-xs
            [ngClass]="{'fixed': isViewable(leftOuterView) && leftOuterView.uiState.isFixed}">
    <oe-partial-view *ngIf="isViewable(leftOuterView)" [layoutConfig]="leftOuterView">
        <ng-content></ng-content>
    </oe-partial-view>
    <ng-content select="oe-layout-left-outer"></ng-content>
</oe-section>
<section class="oe-screen">
    <oe-section class="oe-layout-top-inner "
                [ngClass]="{'fixed': isViewable(topInnerView)&&  topInnerView.uiState.isFixed}">
        <oe-partial-view *ngIf="isViewable(topInnerView)" [layoutConfig]="topInnerView">
            <ng-content></ng-content>
        </oe-partial-view>
        <ng-content select="oe-layout-top-inner"></ng-content>
    </oe-section>
    <section class="oe-main-screen">
        <oe-section class="oe-layout-left-inner "
                    [ngClass]="{'fixed': isViewable(leftInnerView)&& leftInnerView.uiState.isFixed}">
            <oe-partial-view *ngIf="isViewable(leftInnerView)" [layoutConfig]="leftInnerView">
                <ng-content></ng-content>
            </oe-partial-view>
            <ng-content select="oe-layout-left-inner"></ng-content>
        </oe-section>
        <oe-section class="oe-main">
            <oe-partial-view *ngIf="isViewable(mainView)" [layoutConfig]="mainView"
                             class="oe-layout-main " [ngClass]="{'fixed':  mainView.uiState.isFixed}">
            </oe-partial-view>
            <ng-content select="oe-layout-main"></ng-content>
        </oe-section>
        <oe-section class="oe-layout-right-inner "
                    [ngClass]="{'fixed': isViewable(rightInnerView)&& rightInnerView.uiState.isFixed}">
            <oe-partial-view *ngIf="isViewable(rightInnerView)" [layoutConfig]="rightInnerView">
                <ng-content></ng-content>
            </oe-partial-view>
            <ng-content select="oe-layout-right-inner"></ng-content>
        </oe-section>
    </section>
    <oe-section class="oe-layout-bottom-inner"
                [ngClass]="{'fixed': isViewable(bottomInnerView)&& bottomInnerView.uiState.isFixed}">
        <oe-partial-view *ngIf="isViewable(bottomInnerView)" [layoutConfig]="bottomInnerView">
            <ng-content></ng-content>
        </oe-partial-view>
        <ng-content select="oe-layout-bottom-inner"></ng-content>
    </oe-section>
</section>
<oe-section class="oe-layout-right-outer " transparent-xs
            [ngClass]="{'fixed': isViewable(rightOuterView)&& rightOuterView.uiState.isFixed}">
    <oe-partial-view *ngIf="isViewable(rightOuterView)" [layoutConfig]="rightOuterView">
        <ng-content></ng-content>
    </oe-partial-view>
    <ng-content select="oe-layout-right-outer"></ng-content>
</oe-section>
<oe-section class="oe-layout-bottom-outer " hide-xs
            [ngClass]="{'fixed': isViewable(bottomOuterView)&& bottomOuterView.uiState.isFixed}">
    <oe-partial-view *ngIf="isViewable(bottomOuterView)" [layoutConfig]="bottomOuterView">
        <ng-content></ng-content>
    </oe-partial-view>
    <ng-content select="oe-layout-bottom-outer"></ng-content>
</oe-section>
