<md-sidenav-layout>
    <oe-partial-view *ngIf="isViewable(topOuterView)" [oeSelect]="topOuterView"
                     class="oe-top-outer"
                     [ngClass]="{'fixed':  topOuterView.uiState.isFixed}">
        <!--top-outer-nav-->
    </oe-partial-view>
    <md-sidenav #leftOuter align="start" class="oe-left-outer"
                [ngClass]="{'fixed': isViewable(leftOuterNav) && leftOuterNav.uiState.isFixed}">
        <oe-partial-view *ngIf="isViewable(leftOuterNav)" [oeSelect]="leftOuterNav">
            <!--left-outer-nav-->
        </oe-partial-view>
    </md-sidenav>

    <md-sidenav #rightOuter align="end">
        <div *ngIf="isViewable(rightOuterNav)" class="oe-right-outer">
            End Sidenav.
            <button md-button (click)="rightOuter.close()">Close</button>
        </div>
    </md-sidenav>


    <md-content class="oe-layout-screen">
        <button md-button (click)="leftOuter.toggle()">toggle left</button>
        <button md-button (click)="rightOuter.toggle()">toggle right</button>
        <md-sidenav-layout>
            <md-sidenav #leftInner>
                Start Sidenav.
                <br>
                <button md-button (click)="leftInner.close()">Close</button>
                <!--left-outer-nav-->
            </md-sidenav>
            <md-sidenav #rightInner align="end">
                End Sidenav.
                <button md-button (click)="rightInner.close()">Close</button>
            </md-sidenav>
            <md-content>
                <button md-button (click)="leftInner.toggle()">Click</button>
                <button md-button (click)="rightInner.toggle()">Click</button>
            </md-content>
        </md-sidenav-layout>
    </md-content>
</md-sidenav-layout>

<div>
    <div *ngIf="isViewable(leftInnerNav)">
        <!--left-inner-nav-->
    </div>
    <div *ngIf="isViewable(topInnerNav)">
        <!--top-inner-nav-->
    </div>
    <div *ngIf="isViewable(mainContent)">
        <!--main-content-->
    </div>
    <div *ngIf="isViewable(bottomInnerNav)">
        <!--bottom-inner-nav-->
    </div>
    <div *ngIf="isViewable(rightInnerNav)">
        <!--right-inner-nav-->
    </div>
</div>
<div *ngIf="isViewable(bottomOuterNav)">
    <!--bottom-outer-nav-->
</div>
<div *ngIf="isViewable(rightOuterNav)">
    <!--right-outer-nav-->
</div>
